.container {
	padding: 1em 1.5em;
	background: #e1e1e1;
}

.container a {
	color: rgb(0, 80, 5);
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	padding: .5em; */
	/* background: #b9f6ca; */
}

.container h3 {
	color: #005005;
	text-transform: uppercase;
	font-weight: 200;
}

.container p {
	font-weight: 200;
	color: #005005;
	text-align: left;
	text-transform: none;
}

.container ul {
	padding: 0;
	margin: .5em 0;
}

.container li {
	font-weight: 200;
	color: #005005;
	text-align: left;
	text-transform: none;
	list-style: none;
}



