.container {
	padding: 2em;
	height: 100vh;
	background: white;
}

.park {
	height:77%;
	background: #f3e5f5;
	color: #8e24aa;
	margin-bottom: 2em;
	overflow: scroll;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.link {
	color: #8e24aa;
}

.card {
	display: flex;
	font-size: 1.5rem;
	border: 0;
	height: 5em;
}

.card__avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.card__avatar img {
	width: 1.6em;
	height: 1.6em;
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #8e24aa;
	font-weight: 200;
	text-transform: capitalize;
}

.card__title {
	display: flex;
	gap: 1em;
}

.card__title:first-child {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
}

.li {
	width: 100%;
	display: inline-block;
	list-style: none;
}

.ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
}