.container {
	display: flex;
	gap: 1em;
	flex-direction: column;
	padding: 1em 1.5em;
	height: 100vh;
}

.container a {
	color: rgb(0, 80, 5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	padding: .5em;
	background: #b9f6ca;
}

.list__header {
	display: flex;
	align-items: baseline;
	text-transform: uppercase;
}

.list__header p {
	color: rgb(0, 80, 5);
	margin: 0;
}
.list__header select {
	margin: 0;
	text-transform: uppercase;
	background: #b9f6ca;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	/* margin-bottom: 1em; */
	font-size: 1.1rem;
}

.park {
	background: #f3e5f5;
	color: #8e24aa;
	/* margin-bottom: 1em; */
	overflow: scroll;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.link {
	color: #8e24aa;
}

.card {
	display: flex;
	/* font-size: 1.5rem; */
	border: 0;
	height: 5em;
}

.card__avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

.card__avatar img {
	width: 1.5em;
	height: 1.5em;
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #8e24aa;
	font-weight: 200;
	text-transform: capitalize;
}

.card__content > li:last-child {
	border-bottom: none;
} 

.card__title {
	display: flex;
	gap: 1em;
}

.card__title:first-child {
	/* font-size: 1.5rem; */
	text-transform: uppercase;
	font-weight: 600;
}

.li {
	width: 100%;
	display: inline-block;
	list-style: none;
}

.ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}