html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, select {
  padding: 0.5em;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 10px;
  background: #eee;
}
