@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* background: #E1E2E1; */
  background: #87c197;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, select {
  padding: 0.5em;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  border: none;  
  background: white;
}
a {
  display: inline-block;
	padding: .5em;
	font-size: 1.5rem;
	width: 100%;
  text-transform: uppercase;
  border: none;
  text-align: center;
  background: transparent;
  color: black;

}
