.container {
  width: 100%;
  padding: 0 2em;
  /* background: lightblue; */
}

.pets {
  padding: 1em;
  border: 3px solid #81C67A;
  margin-bottom: 1em;
  border-radius: 10px;
}

.btn__group {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 3px solid #81C67A;
  padding: 1em;
  border-radius: 10px;
}

.ul {
  padding: 0;
  display: flex;
  gap: 1em;
}

.li {
  list-style: none;
}

.title {
  text-align: center;
}

.visit {
  text-align: center;
  padding: 1em;
  border: 3px solid #81C67A;
  margin-bottom: 1em;
  border-radius: 10px;
}

/* .flex {
  display: flex;
  flex-direction: column;
} */