.btn {
	display: inline-block;
	cursor: pointer;
	/* padding: .5em; */
	/* font-size: 1.5rem; */
	width: 100%;
	text-transform: uppercase;
	border: none;
	font-family: inherit;
	color: rgb(0, 80, 5);
	background: none;
	
}
