.container {
  display: flex;
  gap: .7em;
  flex-direction: column;
  width: 100%;
  padding: 1em 1.5em;
  /* background: lightblue; */
}

.centered {
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 0 1.5em;
}