.content {
	padding: 0 .5em;
	font-weight: 200;
}
.ul {
	padding: 0;
	margin: 0;
}

.h1 {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	text-transform: uppercase;
	text-align: left;
	/* font-size: 1.4rem; */
}


.li {
	list-style: none;
  text-transform: uppercase;
}